.drawio-container {
    position: relative;
    display: inline-block;
    width: fit-content;
}

.drawio-container img,
.drawio-container svg,
.drawio-container pre {
    width: fit-content;
    max-width: 100%;
    height: auto;
}

.drawio-container button {
    position: absolute;
    top: 3px;
    left: 3px;
    display: none;
}

.drawio-container:hover button {
    display: block;
    opacity: 0.5;
}

.drawio-container:hover button:hover {
    opacity: 1;
}
